@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #409eff,
    )
  )
);

// 全局注册组件需要导入所有样式
// @use 'element-plus/theme-chalk/src/index.scss' as *;
