.login-bg{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background: url('@/assets/img/login/login-bg.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.login-box{
    width: 400px;
    box-sizing: border-box;
    padding: 30px;
    background: #fff;
    h3{
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 30px;
    }
    .el-form-item{
        &:last-child{
            margin-top: 30px;
            margin-bottom: 5px;
        }
    }
    :deep(.el-icon){
        font-size: 16px;
    }
}

.row-btn{
    width: 100%;
    font-size: 16px;
}
