html, body{
    min-width: 1300px;
    overflow-y: hidden;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}

.g-header{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    padding: 0 20px;
    background: var(--el-color-primary);
    color: #fff;
}

.g-logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    img{
        margin-right: 10px;
        width: 36px;
        height: 36px;
    }
    h2{
        font-size: 22px;
        font-weight: normal;
    }
}

.g-header-right{
    display: flex;
    align-items: center;
    .el-dropdown{
        color: #fff;
    }
    .el-avatar{
        margin-right: 5px;
    }
    .el-tooltip__trigger{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.g-body{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.g-aside{
    flex-shrink: 0;
    width: 220px;
    height: 100%;
}

.g-menu {
    min-height: calc(100vh - 60px);
}

.g-main{
    flex-grow: 1;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    background: #fff;
}
