.login-bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background: #f2f6fa;
}

.login-box {
  width: 500px;
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 40px 0;
  }
  .el-form-item {
    &:last-child {
      margin-top: 30px;
    }
  }
  :deep(.el-icon) {
    font-size: 16px;
  }
}

:deep(.el-input--large .el-input__prefix) {
  left: 10px;
}

.row-btn {
  width: 100%;
  font-size: 16px;
}
