@import './reset.css';

html, body {
  min-width: 1300px;
}

#app {
  height: 100%;
  background: #fff;
}

.lazyload, .lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 0.3s;
}

// 覆盖element默认样式

